html,
body {
  height: 100%;
  background-color: #292d3e;
  overflow: hidden;
  color: whitesmoke;
}

.centerbox {
  background-color: #8794cc;
  z-index: 999;
  font-family: 'Noto Sans', sans-serif;
}

.mono {
  font-family: 'PT Mono', monospace;
}

.top {
  position: absolute;
  top: 10%;
}

.lesstop {
  position: absolute;
  top: 20%;
}

.mid {
  position: absolute;
}

.lessbot {
  position: absolute;
  top: 60%;
}

.bot {
  position: absolute;
  top: 70%;
}

footer {
  position: absolute;
  bottom: 0%;
}
