html,
body {
  height: 100%;
  background-color: #292d3e;
  overflow: hidden;
  color: whitesmoke;
}

.centerbox {
  background-color: #8794cc;
  z-index: 999;
  font-family: 'Noto Sans', sans-serif;
}

.mono {
  font-family: 'PT Mono', monospace;
}

.top {
  position: absolute;
  top: 5%;
}

.lesstop {
  position: absolute;
  top: 20%;
}

.mid {
  top: 45%;
  position: absolute;
}

.lessbot {
  position: absolute;
  top: 65%;
}

.bot {
  position: absolute;
  top: 85%;
}

.marquee-left {
  animation: left linear infinite, fade 5s forwards;
  display: block;
  width: 200%;
  /* transform: translateX(-100%); */
}

.marquee-left span {
  float: left;
  width: 50%;
}

.marquee-right {
  animation: right linear infinite, fade 10s forwards;
  display: block;
  width: 200%;
  /* transform: translateX(100%); */
}

.marquee-right span {
  float: right;
  width: 50%;
}

/* .fade {
  animation: ;
} */

footer {
  position: absolute;
  bottom: 0%;
}

@keyframes left {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes right {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
