html,
body {
  height: 100%;
  background-color: #292d3e;
  overflow: hidden;
  color: whitesmoke;
}

.mono {
  font-family: 'PT Mono', monospace;
}

.rubik {
  font-family: 'Rubik', sans-serif;
}

.centercard {
  background-color: transparent;
  min-width: 300px;
  max-width: 300px;
  height: 400px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.centerinner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: transform 1.5s;
  transition: transform 1.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.centerfront,
.centerback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipclass {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.centerfront {
  background-color: #8794cc;
  z-index: 2;
}

.centerback {
  background-color: #8794cc;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  z-index: 1;
}

.title {
  font-size: 72px;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.subtitle {
  font-size: 18px;
  line-height: 28px;
}

.top {
  position: absolute;
  top: 5%;
}

.lesstop {
  position: absolute;
  top: 25%;
}

.mid {
  top: 45%;
  position: absolute;
}

.lessbot {
  position: absolute;
  bottom: 25%;
}

.bot {
  position: absolute;
  bottom: 5%;
}

.marquee-left {
  animation: left linear infinite, fade 5s forwards;
  display: block;
  width: 200%;
}

.marquee-left span {
  float: left;
  width: 50%;
}

.marquee-right {
  animation: right linear infinite, fade 10s forwards;
  display: block;
  width: 200%;
}

.marquee-right span {
  float: right;
  width: 50%;
}

.size-one {
  font-size: 5vw;
}

.size-two {
  font-size: 6vw;
}

#resume {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#resume img {
  width: 15vw;
}

footer {
  position: absolute;
  bottom: 0%;
}

@keyframes left {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes right {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 575px) {
  .size-one {
    font-size: 15vw;
  }
  .size-two {
    font-size: 15vw;
  }
}
